{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :paths
 ["src"]

 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.9.10"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}

  :deploy
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "timer.jar"]}

  :dev
  {:extra-paths ["dev"]}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
   :main-opts  ["-m" "hf.depstar.jar" "timer.jar"]}

  :install
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "timer.jar"]}

  :test
  {:extra-deps  {lambdaisland/chui   {:mvn/version "0.0.117"}
                 lambdaisland/kaocha {:mvn/version "1.0-612"}}
   :extra-paths ["test"]}}}
